<section>  
    <div class="background-hero">
        <div class="blue-overlay">
            <div class="container h-100">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <img src="/images/hero_logo.png">
                </div>
            </div>
        </div>
    </div>
</section>  
<section>
    <div class="container d-flex justify-content-center">
        <div class="row w-100 py-5 flex-column col-12 col-lg-9 col-xl-8 justify-content-center align-items-center">
            <div class="text-heading text-center mb-1">What is Exchange-A-Gram?</div>
            <p class="text-center">
                Exchange-A-Gram is a social exchange application. Users can put their photos out there on the line and create exchanges without needing to say anything. Eventually people are exchanging ideas.
            </p>
        </div>
    </div>
</section>  
<section class="bg-primary text-white h-100">
    <div class="container py-5 how-it-works">
        <div class="text-heading text-center mb-1">How It Works</div>
        <div class="row justify-content-around">
            <div class="d-flex flex-column four-columns col-12 col-md-4 align-items-center justify-content-start my-3">
                <div class="circle-number bg-white text-primary text-center mb-3">1</div>
                <div class="step flex-wrap text-center">Take a photo instantaneously (or not instantaneously)</div>
            </div>
            <div class="d-flex flex-column four-columns col-12 col-md-4 align-items-center justify-content-start my-3">
                <div class="circle-number bg-white text-primary text-center mb-3">2</div>
                <div class="step flex-wrap text-center">Put that image out there on the line</div>
            </div>
            <div class="d-flex flex-column four-columns col-12 col-md-4 align-items-center justify-content-start mt-3">
                <div class="circle-number bg-white text-primary text-center mb-3">3</div>
                <div class="step flex-wrap text-center">Like and comment on images other users have posted</div>
            </div>
        </div>

    </div>
</section>